* {
  padding: 0;
  margin: 0;
  font-family: "Roboton", sans-serif;
}

body {
  display: flex;
  margin: 0;
}

.mainHeader {
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 16px;
}
.mainHeader > .web__logo {
  width: 100px;
  aspect-ratio: 1;
}

.wrapper {
  margin: 64px auto 0;
  display: inline-block;
  max-width: 1170px;
}

.web_authen {
  margin: 40px 0px;
  text-align: center;
}

.web_authen h3 {
  font-size: 18px;
  color: #111;
  text-transform: uppercase;
}

.menu {
  height: 50px;
  /* width: 400px; */
  width: 100%;
  font-size: 15px;
  color: blue;
  padding: 10 20px;
  text-align: center;
}

.menu ul li a {
  text-decoration: none;
  /*bỏ dấu gạch chân*/
}

.menu ul {
  list-style: none;
  /*bỏ dấu chấm*/
}

.menu li {
  margin-top: 10px;
}

.menu li:not(:first-child) {
  padding: 0 15px;
}
.menu li:first-child {
  padding: 0 15px 0 0;
}

.menu > .breadCrumb {
  display: flex;
}

.menu > .breadCrumb > .breadCrumb__item > a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.vouchers {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: scroll;
}

.vouchers .voucher {
  display: grid;
  grid-template-columns: 100px auto 100px;
  align-items: center;
}

.voucher__image img {
  height: 100%;
  width: 100px;
}

.voucher__active {
  display: flex;
  align-items: center;
}

button {
  background-color: #0652dd;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.voucher-name {
  padding-left: 32px;
}
